<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Encuesta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Bienvenido a EDU-TECH</h1>
    </header>

    <section>
        <p>Esta pagina web esta diseñada para ayudar a los estudiantes a mejorar sus métodos de estudios usando apps de estudio.</p>
        <p>¿SABIAS QUE CADA PERSONA TIENE UN ESTILO DE APRENDIZAJE?</p>
        <p>Puedes descubrir cuál es tu estilo de aprendizaje mediante nuestro cuestionario basado en el modelo de Honey-Alonso.</p>
        <p>Según tus respuestas, te recomendaremos herramientas y aplicaciones que se adapten a tu forma de aprender.</p>
    </section>

    <div class="botones">
        <a href="{{ url_for('registro') }}"><button>Registrarse</button></a>
        <a href="{{ url_for('login') }}"><button>Iniciar Sesión</button></a>
    </div>

</body>
</html>
